<!DOCTYPE html>
<html lang="ar" dir="rtl">
{% extends "base.html" %}

{% block title %}
قائمة المنتجات
{% endblock %}

{% block content %}

<h2 style="text-align:center;">قائمة المنتجات</h2>

{% if products %}
<div class="product-grid">
    {% for product in products %}
    <div class="product-card">

        <img
                src="{{ product.image_url }}"
                alt="صورة {{ product.name }}"
                class="product-image"
        >

        <h3>{{ product.name }}</h3>

        <p class="product-price">
            {{ product.price }} $
        </p>

        <a
                href="{{ url_for('product_detail', product_id=product.id) }}"
                class="details-button"
        >
            عرض التفاصيل
        </a>

        <form
                action="{{ url_for('delete_product', product_id=product.id) }}"
                method="post"
        >
            <button type="submit" class="delete-button">
                حذف المنتج
            </button>
        </form>

    </div>
    {% endfor %}
</div>

{% else %}
<p class="no-products">
    لا توجد منتجات حالياً.
</p>
{% endif %}

{% endblock %}
</html>
